<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body text-center">
              {{#if user.picture}}
                <img style="width: 100%" src="{{user.picture}}">
              {{else}}
                <img src="{{user.gravatar}}">
              {{/if}}
              <br/>
              <div style="font-size:24px">{{user.name}}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="panel">
            <div class="panel-body">
              <h1>My Book Log</h1>
              <div style="max-height: 600px; overflow: auto">
                {{#each books}}
                  <div style="font-size: 24px">{{this.title}}</div>
                  <div style="font-size: 18px; margin-bottom: 15px">Author: Taylor Petrychyn - Your Rating: <i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
